<h1> Andrew Smith </h1>
<img src="Andrew Smith.jpg" />
<h2> I work for a K-9 ESL Charter School in Ogden Utah as the Building and Systems Administrator.  I am in charge of all technical, maintenance, and security related systems at the 1250 student and 125 employee school.</h2>
<p> I wan't to learn code to be better at my job.  I want to understand what developers and programmers are saying and relay that information to the executives that dont understand it.</p>
<a href="https://www.linkedin.com/profile/preview?vpa=pub&locale=en_US"> Read More</a>

