<h1> Andrew Smith </h1>
<img src="http://cdn.idigitaltimes.com/sites/idigitaltimes.com/files/styles/large/public/2014/08/28/2013/10/14/12318-human-to-cat-translator-app.jpg" />
<h2> I'm a cat obviously.  I don't do anything.  I spend my days sleeping and eating.</h2>
<p> I wan't to learn code to be better at my job.  I want to understand what developers and programmers are saying and relay that information to the executives that dont understand it.</p>
<a href="https://www.linkedin.com/profile/preview?vpa=pub&locale=en_US"> Read More</a>

